.heading {
  text-align: center;
  padding-block: 1em;
  text-transform: uppercase;
}
.newimg {
  width: 20%;
  height: auto;
  margin: auto;
}
.first {
  background-color: #d4acba80;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 20px 20px 67px #d7d7d7, -20px -20px 67px #e9e9e9;
  width: 93% !important;
}
.text {
  text-align: center;
}
